#title{
	display: ruby;
}
.spacer{
	height: 35vh;
}
.row{
	background-color:black;
}
.container{
	background-color:black;
}
p{
	color: white;
}
h1{
	color: white !important;
}
body{
	background-color: black !important;
}
html{
	height: 100vh; 
	width: 100vw;
	position:absolute;
	background-color: black; 
}