.logo{
    margin: 2%;
}
.fa-ban{
    color: red;
}
.center{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.id{
    color: red;
    background-color: red;
}