/*******************************************
New Color Palette:
    #BAC1B8
    #58A4B0
    #0C7C59
    #2B303A
    #D64933
*******************************************/
@font-face {
    font-family: bit;
    src: url(../font/bitwise.ttf);
}
html, body, div, span{
    background-color: #BAC1B8;
}