@font-face{
    font-family: logo;
    src: url(Ordinary.ttf);
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{ 
    background: #fff !important; 
}

#Ulogin{
    margin-left: 2%; 
}

#calendar {
    position: relative;
}

#Ptitle {
    margin-top: 0;
    position: relative;
}

#one {
    top: 38%;
}

#two {
    top: 0.5%;
    padding: 0;
    margin: 0;
}

#three {
    top: 0%;
}

#filler {
    position: relative;
    height: 38rem;
}

#buttons {
    position: relative;
    height: inherit;
    float: right;
}

#logoT {
    padding-left: 2%;
    font-size: 5em;
}

#posts {
    position: relative;
    height: inherit;
    overflow-y: scroll;
    margin: 0;
    z-index: 1001;
}

#form {
    background-color: grey;
    width: 50%;
}

#files {
    margin: 0;
}

.nicescroll {
    overflow: hidden;
}

.posts {
    border-bottom: ridge white 2px;
    overflow-x: hidden;
}

.picBtn {
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.body {
    position: relative;
    height: 110vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.next {
    position: relative;
    left: 50%;
}

.prev {
    position: relative;
    left: 50%;
}

.page-r {
    position: relative;
    background-color: white;
    width: 85%;
    height: 85%;
    top: 45%;
    left: 50%;
    z-index: 100001;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 50px black;
}

.page-l {
    position: relative;
    background-color: white;
    width: 85%;
    height: 85%;
    top: 45%;
    left: 50%;
    z-index: 100001;
    transform: translate(-50%, -50%);
    box-shadow: -20px 20px 50px black;
}

.logo {
    position: relative;
    top: 25vh;
    padding-left: 2%;
    color: white;
    width: 50%; 
    font-family: logo; 
}

.mRight {
    float: right;
}

.row {
    width: auto;
    height: 33.33% !important;
}

.body {
    width: auto;
    height: 100% !important;
}

.btnPage {
    z-index: 1001;
}

.icontent{
    position: relative;
    width: 100%;
    height: 100%;
}

.container-fluid {
    position: relative;
    padding: 0;
    height: 100vh;
}

iframe {
    position: relative;
    height: 100%;
    width: 100%;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

html {
    position: absolute;
    overflow: hidden;
    overflow-x: hidden !important;
    height: 100vh;
    width: 100vw;
}

table {
    border-color: transparent;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}