#l-bar{
	background-color: white;
	height: 105vh;
	width: 15vw;
	margin: 0px; 
	padding: 0px;
	position: absolute;
	float: left;  
}
#r-bar{
	width: 45vw;
	height: 100vh;
	position: fixed;
	float: right;
}
#pic{
	height: 35%;
	width: 100%;
	border-radius: 50% 
}
#bodyM{
	margin-left: 15vw;
	margin-top: 0;
	background-color: #beb2c8;  
}
div{
	background-color: transparent;
}
html{
	background-color: #beb2c8;
}